  <!DOCTYPE html>
  <html lang="jp">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />
      <title>Document</title>
      <link rel="stylesheet" type="text/css" href="/static/style_index.css">
  </head>

  <body>
      <div class="main">
          <h1>かんたん</h1>
          <h2>ツウヤク</h2>
          <h3>sensei</h3>

      </div>

      <div class="button-area">



          <a class="btn-border" href="{{ url_for('main')}}">START </a>






      </div>


      <div class="footer">
          <p></p>

      </div>
  </body>

  </html>