<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320,
      height=480,
      initial-scale=1.0,
      minimum-scale=1.0,
      maximum-scale=2.0,
      user-scalable=yes" />

    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/style_main.css">

</head>

<body>


    <div class="contents">
        <h3>SEARCH BY SCENE</h3>
        <div class="contents-item">
            <a href="/scene_1">
                <img src="/static/img/コメント吹き出し.png" /></a>

            <p>Greetings</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_2.html';return false;" target="_blank">
                <img src="/static/img/ショッピングカート.png" /></a>

            <p>Shopping</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_3.html';return false;" target="_blank">
                <img src="/static/img/ナイフとフォーク.png" /></a>

            <p>EatingOut</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_4.html';return false;" target="_blank">
                <img src="/static/img/お城.png" /></a>
            <p>Directions</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_5.html';return false;" target="_blank">
                <img src="/static/img/いいね風.png" /></a>
            <p>General Conversation</p>


        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_6.html';return false;" target="_blank">
                <img src="/static/img/救急車.png" /></a>

            <p>Emagency /Sick</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_7.html';return false;" target="_blank">
                <img src="/static/img/計算機.png" /></a>
            <p>Numbers</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_8.html';return false;" target="_blank">
                <img src="/static/img/砂時計.png" /></a>
            <p>Time/Date</p>
        </div>
        <div class="contents-item">
            <a href="#" onclick="document.location='scene_9.html';return false;" target="_blank">
                <img src="/static/img/ハート白黒.png" /></a>
            <p>Dating</p>
        </div>

    </div>


</body>

</html>